html,
body {
  margin: 0;
  height: 100%;
  background-color: darkBase;
}
* {
  font-size: 19px;
}
@media screen and (max-width: 600px) {
  * {
    font-size: 16px;
    color: #001040;
  }
}
body {
  font-family: "Times New Roman", "Times", "Linux Libertine", "PT Serif", "Noto Serif", serif;
}
body h1,
body h2,
body h3 {
  font-family: "Helvetica Neue", "Arial", "Helvetica", "Noto Sans", "PT Sans", sans-serif;
}
body h1 {
  font-size: 3.998rem;
}
body h2 {
  font-size: 2.827rem;
}
body h3 {
  font-size: 1.414rem;
  color: #30502c;
}
body a:hover {
  color: #71e964 !important;
}
body a:visited {
  color: #d35400;
}
header aside {
  font-size: 0.707rem;
  font-style: italic;
}
.context p {
  font-family: "Helvetica Neue", "Arial", "Helvetica", "Noto Sans", "PT Sans", sans-serif;
  font-style: italic;
  font-size: 0.707rem;
}
footer aside p {
  font-size: 0.707rem;
  font-style: italic;
}
.linkpane {
  padding: 1rem 0;
}
.linkpane ul {
  max-width: 300px;
  min-width: 200px;
  margin: 0 auto;
}
.linkpane li {
  list-style: none;
}
.linkpane li:not(first-of-type) {
  padding-top: 0.25rem;
}
.linkpane li.exlink a::after {
  content: "⤴";
  font-size: 0.75rem;
  position: relative;
  bottom: 2px;
  left: 2px;
}
.linkpane a {
  text-decoration: none;
}
.linkpane a::before {
  content: "⊞";
  font-size: 0.75rem;
  position: relative;
  bottom: 2px;
  right: 2px;
}
.contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: minmax(1rem, auto);
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  .contain {
    width: 50%;
  }
}
@media screen and (min-width: 601px) and (max-width: 999px) {
  .contain {
    width: 66.667%;
  }
}
@media screen and (max-width: 600px) {
  .contain {
    width: 75%;
  }
}
.svgwrap {
  grid-column: 2;
}
#sitelogo {
  grid-row: 1;
}
#footergraphic {
  grid-row: 3;
}
.linkpane {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: rgba(113,233,100,0.5);
  border: 0.25rem ridge #30502c;
}
footer {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  background-image: url("../img/abstract-keyboard.jpg");
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
