// The header element
mixin headinfo(pagetitle, stylesheet, sitename)
	head
		meta(charset='utf-8')
		title #{pagetitle} | #{sitetitle}
		link(href="css/" + stylesheet + ".css", rel="stylesheet")
		// Stylesheet here

// GitHub Pages attribution

mixin gh(element)
	#{element}.attr
		p Hosted with 
			a(href='https://github.com/StrivenWord/strivenword-resume-site') GitHub 
			| Pages