//- Apparently this is just straight JavaScript variable syntax
//- https://pugjs.org/language/conditionals.html
//- https://pugjs.org/language/interpolation.html

-var name = "Paul Lee"
-var email = "paul_lee@zoho.com"
-var phone = "(315)940-1376"