// --- Media queries ---
// Inspired by the handling of media queries in the Landscape theme for Hexo
mq-wide = "screen and (min-width: 1000px)"
mq-medium = "screen and (min-width: 601px) and (max-width: 999px)"
mq-narrow = "screen and (max-width: 600px)"

// Font stacks
serifs = "Times New Roman", "Times", "Linux Libertine", "PT Serif", "Noto Serif", serif
sanserifs = "Helvetica Neue", "Arial", "Helvetica", "Noto Sans", "PT Sans", sans-serif