// --- Media queries ---
// Inspired by the handling of media queries in the Landscape theme for Hexo
mq-wide = "screen and (min-width: 1000px)"
mq-medium = "screen and (min-width: 480px) and (max-width: 999px)"
mq-narrow = "screen and (max-width: 479px)"