body {
	@media mq-wide {
		width: 75%
		margin: 0 auto
	}
	@media mq-medium {
		width: 90%
		margin: 0 auto
	}
	background-color: lightBase
}

header {
	display: flex
	align-items: center
	@media mq-wide {
		justify-content: space-between
	}
	@media mq-medium {
		justify-content: space-around
	}
	@media mq-narrow {
		flex-direction: column
		justify-content: center
	}
}

section.major {
	&:not(:last-of-type) {
		border-bottom: 2px dashed darkAccent
		margin-bottom: 1rem
		padding-bottom: 1rem
	}
	&:last-of-type {
		margin-bottom: 3rem
	}
	&> h2 {
		text-align: center
	}
}

section.qualifications {
	h3 {
		margin-bottom: 0.25rem
	}
}

footer {
	&> section {
		display: flex
		justify-content: space-around
		align-items: center
		@media mq-narrow {
			flex-direction: column
		}
	}
	&> aside p {
		text-align: right
	}
}