include includes/variables.pug
include includes/mixins.pug
doctype html

+headinfo('Design and Writing by Paul Lee', 'home')

body.decorate

	div.contain
		+svgimage_swordinfinity('250', '#ececec')

		nav
			ul
				li
					a(href='resume.html') R&eacute;sum&eacute;
				li
					a(href='http://transcendentdestinies.net/') Writing
				li.exlink
					a(href='http://strivenword.tumblr.com/') Tumblr
				li.exlink
					a(href='https://www.facebook.com/paullee.strivenword') Facebook
				li.exlink
					a(href='https://github.com/StrivenWord') GitHub

		footer
			+gh('section')
			div.endnote
				+svgimage_subcreator('250')
				p.sdg soli deo gloria