include includes/variables.pug
include includes/mixins.pug
doctype html

+headinfo('Design and Writing by Paul Lee')

body.decorate

	div.contain
		// Find the right version of the Strivenword logo
		// +svgimage_swordinfinity

		nav
			ul
				li
					a(href='resume.html') R&eacute;sum&eacute;
				li
					a(href='http://transcendentdestinies.net/') Writing
				li.exlink
					a(href='http://strivenword.tumblr.com/') Tumblr
				li.exlink
					a(href='https://www.facebook.com/paullee.strivenword') Facebook
				li.exlink
					a(href='https://github.com/StrivenWord') GitHub

		footer
			section.attr
				p Hosted with 
					a(href='https://github.com/StrivenWord/strivenword-resume-site') GitHub 
					| Pages
			div.endnote
				// Find canonical version of subcreator's logo
				// +svgimage_subcreator
				p.sdg soli deo gloria