include includes/variables.pug
include includes/mixins.pug
doctype html

+headinfo('Design and Writing by Paul Lee', 'home')

body

	div.decorate

		div.contain

			div.svgwrap#sitelogo
				+svgimage_swordinfinity('250', 'lightGray')

			nav.linkpane
				ul
					li
						a(href='resume.html') R&eacute;sum&eacute;
					li
						a(href='http://transcendentdestinies.net/') Review Blog
					li.exlink
						a(href='http://strivenword.tumblr.com/') Tumblr
					li.exlink
						a(href='https://twitter.com/strivenword') Twitter
					li.exlink
						a(href='https://www.linkedin.com/in/paul-lee-7b6a46159/') LinkedIn
					li.exlink
						a(href='https://github.com/StrivenWord') GitHub

			footer
				aside
					+gh('div')
					+updated('div')
				div.endnote
					div.svgwrap#footergraphic
						+svgimage_subcreator('125', 'lightGray')
					p.sdg soli deo gloria