include includes/variables.pug
include includes/mixins.pug
doctype html

+headinfo('Design and Writing by Paul Lee', 'home')

body.decorate

	div.contain

		div.svgwrap#sitelogo
			+svgimage_swordinfinity('250', 'lightGray')

		nav.linkpane
			ul
				li
					a(href='resume.html') R&eacute;sum&eacute;
				li
					a(href='http://transcendentdestinies.net/') Writing
				li.exlink
					a(href='http://strivenword.tumblr.com/') Tumblr
				li.exlink
					a(href='https://www.facebook.com/paullee.strivenword') Facebook
				li.exlink
					a(href='https://github.com/StrivenWord') GitHub

		footer
			+gh('section')
			div.svgwrap#footergraphic
				+svgimage_subcreator('250', 'lightGray')
			div.endnote
				p.sdg soli deo gloria